.auth {
  display: flex;
  align-items:center;
  height: 400px;
}
.auth form input {
  box-shadow: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}
